/* ===========================
    RESET / REGLES GLOBALES
   =========================== */

* {
    font-family: 'Nunito', system-ui, sans-serif;
}


/* ===========================
    LISTE & CARTES APPRENANTS
   =========================== */

/* Conteneur liste (masquage) */
#liste-container.d-none {
    display: none;
}

/* Conteneur cartes - visible en grid par défaut */
#cartes-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

/* On cache le conteneur cartes quand on ajoute d-none */
#cartes-container.d-none {
    display: none;
}

/* Table responsive */
.table-responsive {
    max-height: 600px;
}

/* Carte apprenant */
#cartes-container .carte {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;      
    text-align: center;
}


/* ===========================
    PAGES SPECIFIQUES
   =========================== */

/* Page Préférences */

.page-preferences form > div {
    display: grid;
    grid-template-columns: 22vw auto; 
    align-items: center;
    column-gap: 20px;
    margin-bottom: 15px;
}

.page-preferences form > div > label {
    text-align: left;
    font-size: 1.2rem;
    font-weight: bold; 
}

.page-preferences .groupe-radios {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
}


/* Page Informations */

div > p {
    flex: 1;
}

/* Liens dans les paragraphes "Liens utiles" */
p > a {
    display: flex;
    flex-direction: column;
}

/* ==========================
    MAP
   =========================== */

    #map { 
        height: 80vh; 
        width: 100%;
    }


/* ===========================
    MEDIA QUERIES
   =========================== */

/* Tablettes + smartphones */
@media (max-width: 992px) {
    #liste-container .table-responsive {
        width: 100% !important;
        margin: 0;
        max-width: 100vw;
    }

    .offcanvas-end {
        max-width: 200px !important;
    }

    .info {
        min-width: 360px;
        width: auto!important;
    }
}

/* petits smartphones */
@media (max-width: 576px) {

    .radios-affichage {
        font-size: 0.7rem;
    }

    
}