* {
    font-family: 'Nunito', system-ui, sans-serif;
    margin: 0;
    padding: 0;
}


/* Conteneur cartes - grid responsive */
#cartes {
    display: none; /* Caché par défaut */
}

#cartes.actif {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

/* Cache la liste quand on passe aux cartes */
#apprenants.cache {
    display: none;
}

/* Style basique d'une carte */
#cartes .carte {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 8px;
}

/* Boutons navbar */
.navbar .btn {
    border-color: black;
    background-color: white;
    color: black;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.473);
    width: 120px;     
    height: 40px;     
    text-align: center; 
    display: inline-block;
}

.navbar {
    display: flex;
    align-items: center;
    font-family: 'Nunito', Arial, sans-serif;
}

.navbar-text {
    
    font-size: 2rem;
    font-weight: bold;
}

.navbar-brand {
    margin: 0;
    padding: 0;
}
.navbar-brand-img {
    height: 100%;
}

.navbar.navbar-expand-lg.py-2.shadow-sm {
    padding: 0;
}